.registeredRecipientWrapper{
    padding: 0 16px 0 16px;
}


.inputFieldWrapper{
    margin-top: 22px;
    margin-bottom: 31px;
}

.btnWrapper {
    margin-right: 148px;
}

.errorMessage{
    color: #ff563a;
    padding-bottom: 10px;
}


@media screen and (max-width: 1023px) {
    .registeredRecipientContainer{
        background: #FFFFFF;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        min-height: 100vh;
        z-index: 14;
    }
}

@media screen and (min-width: 1024px) {
    .registeredRecipientContainer{
        background: #FFFFFF;
        position: fixed;
        width: 414px;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 20;

        border-radius: 24px 0 0 24px;
    }
}

@media screen and (min-width: 1920px) {
    .registeredRecipientContainer {
        width: 430px;
    }
}